.progressContainer {
  background: #334155;
  border-radius: 20px;
  height: 25px;
  position: relative;
  margin-bottom: 20px;
}

.progressFill {
  background: #22c55e;
  height: 100%;
  border-radius: 20px;
}

.progressContainer span {
  position: absolute;
  right: 10px;
  top: 3px;
  font-size: 14px;
}